body {
  background-color: rgb(95, 3, 3);
  font-family: Arial, Helvetica, sans-serif
}

* {
  margin: 0;
  padding: 0;
  }
 
/* Header Balk */
header {
  background-color: rgb(95, 3, 3);
  overflow: hidden;
  width: 100%;
  text-align: center;
  display: table;
}

/* Header Text */
header button {
  color: black;
  background-color: red;
  border: grey; 
  padding: 20px 24px; 
  font-size: 17px;
  display: inline-block;
  float: none;
  text-decoration: none;
  outline: none;
  margin: 10px;
  font-weight: bold;
}

/* header hover */

header button:hover { 
  color: white;
  background-color: black;
  cursor: pointer;
}

/* header active* */

header button:active {
  background-color: yellow;
  color: red;
} 


/* P */

#tekstBoven {
  color: black;
  font-weight: bold;
  font-size: 35px;
  padding: 12px;
  background-color: rgb(95, 3, 3);
}

/* Plaatje */

#plaatje {
  width: 70%;
  border: 18px solid black;
}

/* footer balk */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: red; 
}

/* Footer Text*/
footer p {
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 5px;
}   



